@page
@model JobBoard.Pages.EducationDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Education[0].SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education[0].EducationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Education) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EducationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EducationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EducationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
